header {
  text-align: center;
}

.galeria {
  width: 700px;
  margin: 0 auto;
}

.imagem {
  height: 400px;
}

.imagem img {
  width: 100%;
}

.miniaturas {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 250px;
  margin-top: 20px;
}

.miniatura {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  cursor: pointer;
  background-color: #bbb;
  border-radius: 100%;
}

.active {
  opacity: 1;
  background-color: #717171;
}

.controls {
  top: -230px;
  position: relative;
  padding: 0 10px;
}

.controls span {
  color: white;
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
}

.controls span:hover {
  background-color: black;
}

.controls span:last-of-type {
  float: right;
}

.counter {
  color: white;
  position: relative;
  top: 35px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}